@each $media-query in map-keys($media-queries) {
  @for $i from 1 through length($spacers) {
    @include mq($media-query) {
      .float-#{$media-query}-left {
        float: left !important;
      }

      .float-#{$media-query}-right {
        float: right !important;
      }
    }
  }
}

$positions: absolute, relative, fixed, static, sticky;

@each $position in $positions {
  .position-#{$position} {
    position: #{$position};
  }
}

@for $i from 1 through 10 {
  .z-#{$i * 100} {
    z-index: #{$i * 100};
  }
}
