// float classes

@each $media-query in map-keys($media-queries) {
  @for $i from 1 through length($spacers) {
    @include mq($media-query) {
      .float-#{$media-query}-left {
        float: left !important;
      }

      .float-#{$media-query}-right {
        float: right !important;
      }
    }
  }
}

// position classes

$positions: absolute, relative, fixed, static, sticky;

@each $position in $positions {
  .position-#{$position} {
    position: #{$position};
  }
}

// z-index classes

@for $i from 1 through 10 {
  .z-#{$i * 100} {
    z-index: #{$i * 100};
  }
}

// Fix lists inside task list items

.main-content .task-list-item {
  display: list-item;
}

.task-list-item > ul {
  margin-left: $sp-5;
}
